# Root folder

node_modules/
.env
.DS_Store
npm-debug.log*


# Client folder

client/node_modules/
client/build/
client/dist/
client/.env


# Server folder

server/node_modules/
server/.env
server/logs/
